{% load static %}
<!doctype html>
<head>
<title>CONTACT</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="{% static 'login/css/contact.css' %}">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container contact-form">
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            </div>
            <form  class="form" name="myform" onsubmit="contact(event)"method="post">{% csrf_token %}
                <h3>CONTACT US</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <textarea name="txtmsg"  class="form-control" placeholder="Your Message*" style ="width:50%; height: 100px;"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="btnSubmit" class="btn btn-lg btn-default pull-right" value="Send Message">send </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                       
            <iframe src="https://maps.google.com/maps?q=sjain%20ventures%20&t=&z=13&ie=UTF8&iwloc=&output=embed"" width="140%" height="255" frameborder="0" style="border:0" allowfullscreen></iframe>

            
                    </div>
                </div>
            </form>
</div>
    <script type="text/javascript" src="{% static 'login/cont.js' %}"></script>
</body>