<style type="text/css">

	a {
		font-size: 20px;
	}
</style>


<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 text-center">
				<div class="alert alert-success">
				
    			  
				  <h1><i class="fa fa-thumbs-up" aria-hidden="true"></i><br>You are successfully logged out</h1>
				  <a href="/login/"> Login again</a>
				</div>
				<br>
				
			</div>
		</div>
	</div>
		