{% load static %}
<html>

<head>

    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    

   
    <link rel="stylesheet" type="text/css" href="{% static 'register/css/temp.css' %}">
 
    <script type="text/javascript" src="{% static 'register/js/user.js' %}"></script>
<style type="text/css">
 #password + .glyphicon {
   cursor: pointer;
   pointer-events: all;
 }

/* Styles for CodePen Demo Only */
#wrapper {
  max-width: 500px;
  margin: auto;
  padding-top: 25vh;
}
    </style>
    <script type="text/javascript">
        $(".reveal").on('click',function() {
    var $pwd = $(".pwd");
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
    } else {
        $pwd.attr('type', 'password');
    }
});

    </script>
</head>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3></h3>
                        <p>Welcome</p>
                        <a href="{% url 'login:login' %}">
                        <input type="submit" name="" value="Login"/></a><br/>
                    </div>
                    <div class="col-md-9 register-right">
                       <!--  <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Admin</a>
                            </li>
                        --> </ul>
                        <form method="post" name="myform"  onsubmit="user(event)"> {% csrf_token %}
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Apply as a User</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input name="fullname" type="text" class="form-control" placeholder="Full Name *" value="" required />
                                        </div>
                                        
                                        <div class="form-group pass_show">
                                            <input name="password" id="password" type="password" class="form-control" placeholder="Password *" value="" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers." required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                               />
                                        </div>
                                        <div class="form-group">
                                          
                                            <input name="pwd2" type="password" class="form-control"  placeholder="Confirm Password *" value="" title="Please enter the same Password as above."    onkeyup="checkpassword(this.value)" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />

                                            <span class="text-danger message"></span>
                                        </div>
                                                   <div class="form-group">
                                            <input name="email" type="email" class="form-control" placeholder="Your Email *" value="" required/>
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <input name="gender" type="radio"  value="male" checked>
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span> 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                            
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="mobile" class="form-control" placeholder="Mobile *" value="" required/>
                                        </div>
                                        <div class="form-group">
                                            <input name="dob" type="date" class="form-control" placeholder="DOB *" value="" required/>
                                        </div>
                                        <div class="form-group">
                            <!-- <input name="country" type="text" class="form-control" placeholder="Country *" value="" required/> --> 
                                            <input type="text" list="country" name="country"/>
                                            <datalist id="country">
                                          <option value="India">India</option>
                                          <option value="Pakistaan">Pakistaan</option>
                                          <option value="West Indies">West Indies</option>
                                          <option value="Australia">Australia</option>
                                        </select>
</datalist>

                                        </div>
                                        <div class="form-group">
                                   <!-- <input name="state" type="text" class="form-control" placeholder="State *" value="" required/> -->
                                           <input type="text" list="state" name="state"/>
                                            <datalist id="state">
                                          <option value="Chhattisgarh">Chhattisgarh</option>
                                          <option value="Maharastra">Maharastra</option>
                                          <option value="Uttar Pradesh">Uttar Pradesh</option>
                                          <option value="Rajsthan">Rajsthan</option>
                                        </select>
</datalist>
                                        </div>
                                        <div class="form-group">
                                 <!-- <input name="city" type="text" class="form-control" placeholder="City *" value="" required/> -->
                                        <input type="text" list="city" name="city"/>
                                            <datalist id="city">
                                          <option value="Raipur">Raipur</option>
                                          <option value="Mumbai">Mumbai</option>
                                          <option value="Bilaspur">Bilaspur</option>
                                          <option value="Bhilai">Bhilai</option>
                                        </select>
</datalist>
                                        </div>

                                        <input type="submit" class="btnRegister"  value="Register" required/>
                                    </div>
                                </div>
                            </div>  </form>
                           
                        </div>
                       
                    </div>
                </div>



            </div>

    


<script type="text/javascript">
function checkpassword(re_pass)
 {
   var old_pass = $('#password').val();
   // alert(old_pass)
   if(old_pass != re_pass)
   {
     $('.message').html("Password and confirm password missmatch");
     $('.btnRegister').hide(); 
   }else{
     $('.message').html("");
     $('.btnRegister').show();
   }
 }


</script>


            </body>


</html>      

