<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="container">
            <div class="" col-md-4 col-sm-6 "">

                {% for product in products %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <center>
                            
                            <img src="https://cdn0.iconfinder.com/data/icons/entypo/98/mobile4-256.png" alt="Default-image-for-user-{{product.id}}" class="img-responsive img-circle" style="width: 100px">

                            <hr>
                        </center>
                        <div class="caption">
                            <div class="card-block">
                                <center>
                                    <h3>{{product.title}}</h3>
                                    <h3>{{product.reviews}}</h3>
                                    <h3>{{product.battery}}</h3>
                                    <h3>{{product.processor}}</h3>
                                    <h3>{{product.ratings}}</h3>
                                    <h3>{{product.stars}}</h3>
                                    <h3>{{product.camera}}</h3>
                                    <h3>{{product.resource}}</h3>
                                    <h3>{{product.display}}</h3>
                                    <h3>{{product.warranty}}</h3>
                                    <h3>{{product.price}}</h3>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</body>

</html>